@model USI_Project.Models.LoginModel
@{
    ViewBag.Title = "Index";
}
<script language="javascript">

    function display() {
        if ($("#txtUserName").attr("value") == "")
        {
            alert("Please Enter your UserName.");
            return false;
        } else if ($("#txtPassword").attr("value") == "") {
            alert("Please enter Password.");
            return false;
        }
        alert("Login Successfully");
        return true;
    }
</script>
<h3> Login Form </h3>
@using (Html.BeginForm("Index", "Home"))
{
    <table width="40%" cellpadding="1" cellspacing="5">
        <tr>
            <td colspan="2" style="color:#f00;font-size:larger">@ViewBag.Status</td>
        </tr>
        <tr>
            <td align="right">UserName :</td>
            <td>@Html.TextBoxFor(m => m.UserName, new { @style = "width:200px", @id = "txtUserName" })</td>
        </tr>
        <tr>
            <td align="right">Password :</td>
            <td>@Html.PasswordFor(m => m.Password, new { @style = "width:200px", @id = "txtPassword" })</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" title="login" onclick=" display();" />
            </td>
        </tr>
    </table>
} 