@model USI_Project.Models.LoginModel
@{ ViewBag.Title = ".Start"; }

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Login Form</title>
    <style>
        body {
            margin: 0px;
            background-color: #27a465;
            color: #f7f7f7;
            font-family: Arial, Helvetica, sans-serif;
        }

        #main {
            width: 600px;
            height: 260px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            padding-left: 10px;
            margin-top: 100px;
            border-top: 3px double #f1f1f1;
            border-bottom: 3px double #f1f1f1;
            padding-top: 20px;
        }

            #main table {
                font-family: "Comic Sans MS", cursive;
            }
            /* css code for textbox */
            #main .tb {
                height: 28px;
                width: 230px;
                border: 1px solid #27a465;
                color: #27a465;
                font-weight: bold;
                border-left: 5px solid #f7f7f7;
                opacity: 0.9;
            }

            /* css code for button*/
            #main .btn {
                width: 80px;
                height: 32px;
                outline: none;
                font-weight: bold;
                border: 0px solid #27a465;
                text-shadow: 0px 0.5px 0.5px #fff;
                border-radius: 2px;
                font-weight: 600;
                color: #27a465;
                letter-spacing: 1px;
                font-size: 14px;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                transition: 1s;
            }

                #main .btn:hover {
                    background-color: #27a465;
                    outline: none;
                    border-radius: 2px;
                    color: #f1f1f1;
                    border: 1px solid #f1f1f1;
                }
    </style>
</head>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="container">
        <h3 style="text-align:center"> User Login</h3>
        <div class="d-grid gap-3">
            <div class="form-group">
                <table cellspacing="2" align="center" cellpadding="8" border="0">
                    <tr>
                        <td> User Name :</td>
                        <td>

                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-inline", @align = "center", @type = "user" } })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </td>
                    </tr>
                    

                    <tr>
                        <td> Password:</td>
                        <td>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-inline", @align = "center", @type = "password"} })
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit" value=" Reset" />
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit" value=" Login" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 }
   
<script>
    $(document).ready(function () {
        $("Login").click(function () {
            login();
        })
        $("Reset").click(function () {
            clearFunc();
        })
    });
     function login()
	 {
		var UserName = document.getElementById("UserName").value;
        var Password = document.getElementById("Password").value;
        @*var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+ ([a - zA - Z0 - 9]{ 2, 4})+$/;
         var filter = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A - Za - z]{ 2, 4 }) $ /;*@
         console.log("1");
		if(UserName =='')
		{
			alert("please enter user name.");
		}
		else if(pwd =='')
		{
        	alert("enter the password");
		}
		else if(!filter.test(UserName))
		{
			alert("Enter valid Username.");
		}
		else if(pwd.length < 6 || pwd.length > 6)
		{
			alert("Password min and max length is 6.");
		}
		else
		{
            alert('Thank You for Login & You are in USI Inventory');
  //Redirecting to other page or webste code or you can set your own html page.
            console.log("successRedirectToHomePage");
       window.location = ".Index","Home";
        }
         console.log("end");

	}
	//Reset Inputfield code.
	function clearFunc()
	{
		document.getElementById("UserName").value="";
		document.getElementById("Password").value="";
	}
</script>



